* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

html {
    height: 100%;
}

#Main_cabecera {
    top: 25px;
    width: 100%;
    position: fixed;
}

#Main_cabecera img {
    width: 100%;
    height: 200px;
}

#Main_cuerpo {
    display: flex;
    margin-top: 300px;
    flex-direction: row;
    justify-content: space-around;
}

#Main_cuerpo > a {
    color: white;
    border-radius: 2%;
    font-weight: bold;
    padding: 14px 24px;
    text-align: center;
    text-decoration: none;
    background-color: grey;
}